.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid rgb(229, 229, 229);
  z-index: 1000;
}

.left-section {
   display: flex;
   align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    width: 0;
    height: 40px;
    border: 1px solid rgb(189, 188, 188);
    border-radius: 1px;
    padding-left: 10px;
    font-size: 14px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.search-bar::placeholder {
    font-size: 18px;
    font-family: Roboto, Arial;
}

.search-button {
    background-color: rgb(238, 235, 235);
    border: 1px solid rgb(189, 188, 188);
    height: 40px;
    width: 66px;
    margin-left: -1px;
    margin-right: 10px;
}

.search-icon {
    width: 40px;
    height: 24px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(245, 243, 243);
}

.voice-search-icon {
    width: 24px;
    margin-top: 4px;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.notifications-icon {
    height: 24px;
}

.notification-icon-container {
    position: relative;
}

.notifications-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgb(161, 11, 11);
    color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.channel7-image {
    height: 32px;
    border-radius: 16px;
}

.search-button,
.voice-search-button,
.upload,
.notification-icon-container,
.youtube-apps {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload .tooltip,
.notification-icon-container .tooltip,
.youtube-apps .tooltip {
    background-color: gray;
    color: white;
    font-family: Roboto, Arial;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 2px;
    position: absolute;
    bottom: -40px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload:hover .tooltip,
.notification-icon-container:hover .tooltip,
.youtube-apps:hover .tooltip {
    opacity: 1;
}