p {
    font-family: 'Roboto', sans-serif;
    margin: 5px 0;
}

.search-bar {
    display: block;
}

.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.thumbnail {
    width: 300px;
    display: block;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-1 {
    width: 40px;
    border-radius: 50%;
}

.video-title {
    font-size: 16px;
    font-weight: 600;
    margin-top:  0;
    line-height: 20px;
    margin-bottom: 12px;
}

.channel1-overview {
    margin-right: 10px;
}

.video-details {
    width: 200px;
}

.thumbnail-row {
    margin-bottom: 15px;
}

.author, .stats {
    color: rgb(96, 96, 96);
    font-size: 12px;
}

.author {
    margin-bottom: 4px;
}