.grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 600px){
    .grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 850px) {
    .grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.thumbnail {
    width: 100%;
}

.thumbnail-row {
    margin-bottom: 10px;
    position: relative;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-1 {
    width: 35px;
    border-radius: 50%;
}

.video-title {
    font-size: 16px;
    font-weight: 600;
    margin-top:  0;
    line-height: 20px;
    margin-bottom: 12px;
}

.channel1-overview {
    margin-right: 10px;
}

.video-details {
    width: 200px;
}

.author, .stats {
    color: rgb(96, 96, 96);
    font-size: 12px;
}

.author {
    margin-bottom: 4px;
}

.video-time {
    background-color: black;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500px;
    padding: 4px;
    position: absolute;
    right: 5px;
    bottom: 10px;
    border-radius: 2px;
}



